<html>
    <head></head>
    <body>
        {% for question in questions %}
                <h1>{{question.title}}</h1>
                <a href = "/question/{{ question.id }}"> Read answers</a>
        {% endfor %}
        <div class="pagination">
            {% for p in paginator.page_range %}
                {% if  p.number == page.number %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href = "{{ paginator.baseurl }}{{ p }}">
                    {{ p }}</a>
                </li>
            {% endfor %}
        </div>
    </body> 
</html>